@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.master {
    background-color: hotpink;
    color: khaki;
    display: flex;
    flex-direction: column;
        transition: all .5s;
        user-select: none;
}